/* Общие стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Фон страницы */
    color: #333; /* Основной цвет текста */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Стили для шапки сайта */
header {
    background-color: #343a40; /* Цвет фона шапки */
    color: #fff; /* Цвет текста в шапке */
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Стили для разделов */
.section {
    padding: 50px 0;
}

/* Вставьте путь к изображению для фона раздела "О нас" */
#about {
    background-image: url('pictures/фоновое.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Вставьте путь к изображению для фона других разделов, если необходимо */
#classes {
    /* Пример: background-image: url('путь/к/другому/изображению.jpg'); */
}

#schedule {
    /* Пример: background-image: url('pictures/рассписание.webp'); */
}

#contact {
    /* Пример: background-image: url('pictures/для контактов.webp'); */
}

.section h2 {
    margin-top: 0;
}

/* Стили для формы контактов */
form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

form button {
    background-color: #343a40;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Стили для подвала сайта */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
