/* Общие стили для всего сайта */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Фон страницы */
    color: #333; /* Основной цвет текста */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Стили для шапки сайта */
header {
    background-color: #343a40; /* Цвет фона шапки */
    color: #fff; /* Цвет текста в шапке */
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Стили для разделов */
.section {
    padding: 50px 0;
}

/* Фоновое изображение для раздела "О нас" */
#about {
    background-image: url('pictures/back.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Фоновое изображение для раздела "Расписание" */
#schedule {
    background-image: url('pictures/schedule.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Фоновое изображение для раздела "Контакты" */
#contact {
    background-image: url('pictures/contacts.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section h2 {
    margin-top: 0;
}

/* Стили для формы контактов */
form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

form button {
    background-color: #343a40;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Стили для подвала сайта */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Тут будут все ваши предыдущие стили... */

/* Стили для улучшения внешнего вида таблицы расписания */
table {
    width: 100%;
    border-collapse: collapse; /* Убирает двойные границы */
    margin-bottom: 20px; /* Добавляет пространство под таблицей */
}

th, td {
    border: 1px solid #ddd; /* Добавляет границу ячейкам */
    text-align: left;
    padding: 8px; /* Увеличивает отступы внутри ячеек */
}

th {
    background-color: #f2f2f2; /* Добавляет фон заголовкам */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Добавляет чередующийся фон строкам */
}

/* Стили для заголовков секций */
.section h2 {
    margin-top: 0;
    margin-bottom: 1rem; /* Добавляет пространство под заголовком */
    text-align: center; /* Центрирует заголовок */
}

/* Добавление отступов для параграфов */
p {
    margin-bottom: 1rem; /* Добавляет пространство под параграфом */
}

/* Продолжение ваших стилей... */


